@using System.Text;
@using AspNetCoreMvcViewSamples.Customs;

@functions{

    public string GetHello() {
        return "Hello";
    }
}


<div>@GetHello()</div>

@DateTime.Now

<div><p>this is test</p></div>